/*
 * Copyright (c) 2021 Jan Henrik Weinstock <jan.weinstock@rwth-aachen.de>
 *
 * SPDX-License-Identifier: GPL-2.0
 *
 * Device tree for the OpenRISC Multicore Virtual Platform (or1kmvp)
 *
 */

/dts-v1/;

/ {
	compatible = "openrisc,or1kmvp";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&pic>;

	aliases {
		serial0 = "/serial@90000000";
		serial1 = "/serial@91000000";
		ethernet0 = "/ethernet@92000000";
	};

	chosen {
		bootargs = "debug earlycon console=ttyS0,115200n8 video=ocfb:800x600-32@60 root=/dev/mmcblk0p1 ro rootwait maxcpus=4";
		stdout-path = "serial0:115200n8";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "openrisc,or1kiss";
			clock-frequency = <100000000>; /* 100MHz */
			reg = <0>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "openrisc,or1kiss";
			clock-frequency = <100000000>; /* 100MHz */
			reg = <1>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "openrisc,or1kiss";
			clock-frequency = <100000000>; /* 100MHz */
			reg = <2>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "openrisc,or1kiss";
			clock-frequency = <100000000>; /* 100MHz */
			reg = <3>;
		};
	};

	pic: interrupt-controller {
		compatible = "opencores,or1k-pic-level";
		#interrupt-cells = <1>;
		interrupt-controller;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x08000000>; /* 128MB */
	};

	serial@90000000 {
		compatible = "ns16550a";
		clock-frequency = <3686400>; /* 3.6864MHz */
		reg = <0x90000000 0x2000>;
		interrupts = <2>;
	};

	serial@91000000 {
		compatible = "ns16550a";
		clock-frequency = <3686400>; /* 3.6864MHz */
		reg = <0x91000000 0x2000>;
		interrupts = <3>;
	};

	ethernet@92000000 {
		compatible = "opencores,ethoc";
		reg = <0x92000000 0x2000>;
		interrupts = <4>;
		big-endian;
	};

	framebuffer@93000000 {
		compatible = "opencores,ocfb";
		reg = <0x93000000 0x2000>;
		interrupts = <5>;
	};

	keyboard@94000000 {
		compatible = "opencores,kbd";
		reg = <0x94000000 0x2000>;
		interrupts = <6>;
	};

	rtc@95000000 {
		compatible = "maxim,ds1742";
		reg = <0x95000000 0x2000>;
	};

	spi@96000000 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "opencores,tiny-spi-rtlsvn2";
		reg = <0x96000000 0x2000>;
		/*interrupts = <7>;*/
		gpios = <&gpio0 0 0>;
		clock-frequency = <50000000>;
		baud-width = <32>;

		mmc@0 {
			compatible = "mmc-spi-slot";
			reg = <0>;
			voltage-ranges = <3300 3300>;
			spi-max-frequency = <10000000>;
		};
	};

	gpio0: gpio@97000000 {
		compatible = "brcm,bcm6345-gpio";
		reg = <0x97000000 4>;
		reg-names = "dat";
		gpio-controller;
		#gpio-cells = <2>;
		big-endian;
	};

	ompic@98000000 {
		compatible = "openrisc,ompic";
		reg = <0x98000000 0x2000>;
		interrupt-controller;
		interrupts = <1>;
	};

	rng@99000000 {
		compatible = "timeriomem_rng";
		reg = <0x99000000 0x4>;
		quality = <1000>;
		period = <0>;
	};

	sdhciclk: clk50mhz {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <50000000>;
	};

	sdhci@9a000000 {
		compatible = "fujitsu,mb86s70-sdhci-3.0";
		reg = <0x9a000000 0x2000>;
		interrupts = <8>;
		clocks = <&sdhciclk>, <&sdhciclk>;
		clock-names = "iface", "core";
	};

};

